<html>



<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
<script
	src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
<script src="example.js"></script>
<script src="constants.js"></script>


<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">

<link rel="stylesheet" type="text/css" href="./SAstyles.css">


<body>


	<div ng-app="ui.bootstrap.demo" ng-controller="DropdownCtrl"
		ng-init="init()">

		<form name="newVacancy" class="form-horizontal">
			<fieldset>

				<div class="form-group">
					<label class="col-md-4 control-label" for="selectbasic">
						</label>
					<div class="col-md-4">

						<span uib-dropdown on-toggle="toggled(open)" > <a href
							id="simple-dropdown" uib-dropdown-toggle> {{leftSpinnerHeader}} </a>
							<ul uib-dropdown-menu aria-labelledby="simple-dropdown">
								<li ng-repeat="choice in leftSpinnerValues"><a
									ng-click="leftSpinner(choice)" href>{{choice}}</a></li>
							</ul>
						</span>


					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="selectbasic"></label>
					<div class="col-md-4">
						<span uib-dropdown on-toggle="toggled(open)" > <a href
							id="simple-dropdown" uib-dropdown-toggle>
								{{rightSpinnerHeader}} </a>
							<ul uib-dropdown-menu aria-labelledby="simple-dropdown">
								<li ng-repeat="choice in rightSpinnerValues"><a
									ng-click="rightSpinner(choice)" href>{{choice}}</a>
								</li>
							</ul>
						</span>

					</div>
				</div>

			</fieldset>
		</form>


<div class="pane-list-body" data-list-scroll-container="true">
		<ul>
			<li ng-repeat="advertisement in advertisements">
				<div class="apurv"
					style="z-index: 73; height: 72px; will-change: transform; transform: translate3d(0px, 100%, 0px);">
					<div class="chat">
						<div class="chat-avatar">
							<div class=" avatar icon-user-default">

								<img class="avatar-image"
									src="http://graph.facebook.com/{{advertisement.userId}}/picture?type=small" />
							</div>
						</div>
						<div class="chat-body ">

							<div class="chat-main chat-title">



								<span class="emojitext ellipsify">{{advertisement.apartmentName}}</span>
								<div class="chat-meta">

									<span class="chat-time">${{advertisement.cost}}</span>

								</div>

							</div>
							<div class="chat-secondary">
								<div class="chat-status">

									<span class="emojitext ellipsify">
										{{advertisement.noOfRooms}} </span>


								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>

</div>




	</div>



</body>