<html>

<body>


<br/>


		<div class="spinners" >
		<div class="row" style="margin-left: auto; margin-right: auto;">

			<div class="small-6 columns">


				<span uib-dropdown .pull-right on-toggle="toggled(open)"> <a href
					id="simple-dropdown" uib-dropdown-toggle> {{leftSpinnerHeader}}
						<i class="fa fa-sort-desc"></i>
				</a>
					<ul uib-dropdown-menu aria-labelledby="simple-dropdown">
						<li ng-repeat="choice in leftSpinnerValues"><a
							ng-click="leftSpinner(choice)" href>{{choice}}</a></li>
					</ul>
				</span>
			</div>

			<div class="small-6 columns">


				<span uib-dropdown .pull-right on-toggle="toggled(open)"> <a href
					id="simple-dropdown" uib-dropdown-toggle>
						{{rightSpinnerHeader}} <i class="fa fa-sort-desc"></i>
				</a>
					<ul uib-dropdown-menu aria-labelledby="simple-dropdown">
						<li ng-repeat="choice in rightSpinnerValues"><a
							ng-click="rightSpinner(choice)" href>{{choice}}</a></li>
					</ul>
				</span>

			</div>

		</div>
		</div>

<br/>
<br/>

		<div  class="pane-list-body sidebar2" data-list-scroll-container="true">

		<ul>
			<li ng-repeat="advertisement in advertisements">
			
				<div mdpagination class="apurv ripple rippleAddList"  ng-click="addClick(advertisement)"style=" height: 72px;">
					<div class="chat">
					
						<div class="chat-avatar">
							<div class=" avatar icon-user-default">

								<img class="avatar-image"
									src="http://graph.facebook.com/{{advertisement.userId}}/picture?type=normal" />
							</div>
						</div>
						<div class="chat-body ">

							<div class="chat-main chat-title">



								<span class="emojitext ellipsify">{{advertisement.apartmentName}}</span>
								<div class="chat-meta">

									<span class="chat-time"><label>$ </label>{{advertisement.cost}}</span>

								</div>

							</div>
							<div class="chat-secondary">
								<div class="chat-status">

									<span class="emojitext ellipsify">
										{{advertisement.noOfRooms}} </span>


								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>

</div>






</body>